menu "Wi-Fi Manager Configuration"

config WIFI_CONN_RETRY_MAX
    int "Maximum Wi-Fi connection retry attempts"
    default 5
    range 1 20
    help
        The number of times the system should try to reconnect to Wi-Fi
        before giving up or switching to another method (e.g. provisioning).

endmenu